<html>
    <title>My calculator</title>
    <head>
        <title>To Do List</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="box" id="heading">
            <h1> <%= kindOfDay %></h1>

        </div>
        <div class="box">
            
                <% for (var i=0;i<= newListItems.length;i++){ %>
                    <div class="item">
                        <input type="checkbox">
                      <p><%= newListItems[i] %></p>  
                    </div>
                    
                <%} %>
            
            <form action="/" class="item" method="post">
                <input type="text" name="newListItem" placeholder="New item" autocomplete="off">
                <button type="submit" name="button">+</button> 
    
            </form>

        </div>
        
        

        
    </body>
    <footer>

    </footer>
</html>